*{
    margin: 0rem;
    padding: 0rem;
}

#listaPokemon{
    float: left;
    border: 5px solid #FF0404;
    background-color: #ffffff;
    padding-right: 35%;
    padding-left: 3rem;
    padding-bottom: 150%;
    width: 10px;    
}

#analisisPokemon{
    float: right;
    border: 5px solid #0445FF;
    background-color: #ffffff;
    padding-right: 45%;
    padding-left: 3rem;
    padding-bottom: 150%;
    width: 10px;
}
